.container {
    margin: 0 1.5em;
    background-color: var(--neutral-dark-blue);
    padding: 2em;
    border-radius: 25px;
    width: 425px;
}

.starIcon {
    background-color: var(--neutral-medium-greyOp);
    padding: 1rem;
    border-radius: 100%;
}

.title {
    margin: 1rem 0;
}

.text {
    max-width: 1rem 0;
    color: var(--neutral-medium-grey);
    line-height: 1.5rem;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.labels__container {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

.label {
    background-color: var(--neutral-medium-greyOp);
    padding: 1.5rem;
    border-radius: 100%;
    width: 3rem;
    height: 0;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1em;
    cursor: pointer;
}

.label:hover {
    color: var(--neutral-white);
    background-color: var(--neutral-light-grey);
}

.selected,
.selected:hover {
    background-color: var(--primary-orange);
    color: var(--neutral-white)
}

.form__btn {
    border: none;
    background-color: var(--primary-orange);
    font-size: .85rem;
    font-weight: var(--fw-bold);
    color: var(--neutral-white);
    text-align: center;
    border-radius: 50px;
    padding: .95em 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    margin: .5em auto;
    cursor: pointer;
}

.form__btn:hover {
    color: var(--primary-orange);
    background-color: var(--neutral-white);
    transition: all 0.3s;
}